@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Dancing+Script:wght@492;700 & family= Nunito+Sans:wght@200 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(9 13 18) ;
}
nav{
    background-color: #000000;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #8f6c07;
}

header h4{
    margin-left: 3em;
}

header h1 {
    color: #ffffff;
    font: normal 50px 'Cookie', cursive;
    margin: 0;
    margin-left: 1em;
    margin-bottom: 0.5em;
}

header h1 span {
    color: #8f6c07;
}


nav .onglets{
    margin-top: 1em;
    margin-left: 45em;
    font-size: 1em;
    margin-bottom: 1.2em;
}
nav .onglets a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 0.3em;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 0.3em;
    

}
.onglets a:hover {
    color: rgb(29 29 29);
    background-color: #fff ;
    transition: all 0.1s ease;
    border-radius: 1px 1px 1px 1px;
}

header .onglet{
    margin-top: 0px ;
    margin-left: 57em ;
    font-size: 1em;

}
header .onglet a{
    padding: 0.35em 0em;
    background-color: rgb(9 13 18);
    color:rgb(255 255 255);
    border:none;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 3px solid #8f6c07;
    margin-right: 0.5em;
    padding-bottom: 0.2em;

    
}
header .onglet a:hover {
    color: rgb(9 13 18);
    background-color: #fff;
    transition: all 0.1s ease;
    border-radius:1px 1px 1px ;
}

header{
    background-image: url(../imgs/acceuil1.jpg);
    background-attachment: fixed;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-size: cover;
    color: #fff;
}
header .onglet h2{
    font-family: 'Dancing Script', ;
    font-size: 3em;
    margin-top: -0.6em;
    color: rgb(9 13 18);

}
.main h3{
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #8f6c07;
    text-align: center;
    

}
header h4{
    font-family: 'Montserrat', sans-serif; ;
    margin-top: -1em;
    font-size: 1em;
    text-align: left;
    color: rgb(255, 255, 255);
}
 
.main{
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
  align-items: center;
  background-color: rgb(9 13 18);;
}
.main .content .card{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom:3em;
    flex-direction: row ;
}
.main .content .card .lef{
   flex: 0 0 40%;
   padding: 2em;
   background-color:rgb(9 13 18);
   color:#fff;
   font-size: 1.2em;
}
.main .content .card .righ img{
    height:16em;
    width: 28em;
    margin-top: 1.5em;
}
.main .content .card .leftt{
    flex: 0 0 40%;
    padding: 2em;
    background-color:rgb(9 13 18);;
    color:#fff;
    font-size: 1.2em;
 }
 .main .content .card .rightt img{
     height:16em;
     width: 28em;
     margin-top: 1em;
 }

 footer {
    position: fixed;
    bottom: 0;

}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #020202;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 20px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
    
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 2.6rem 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #8f6c07;
}
/*footer center*/
.footer-center .footer-links{
    display: flex;
    flex-direction: column ;
    border-bottom: #fff;
    
}
/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
    vertical-align: middle;
    margin: 10px 15px;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    font-size: 20px;
    font-weight: lighter;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
    
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #696464;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
}



.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}



@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}
header h5{
    margin-top: 60px;
    font-size: 30px;
    text-align: center;
    color: #fff;
}


