body{
    background-color:rgb(9,13,18) ;
}

.qst{
   
    margin-top: 50px;
    margin-left: 60px;
    color: white;
    margin-right:50px ;
}

h3{
   
    font-size: 25px;
    font-weight:lighter;
}

.qst p{
    font-size: 20px;
    /* margin-left: 70px; */
}

.qst small a {
    color:var(--color);
    text-decoration: none;
    margin-left: 5px;
    font-size: 16px;
}

.rep{
    margin-left: 60px;
    margin-top: 30px;
    align-items: center;
}

.rep label{
    color: white;
    font-size: 20px;
}

.rep textarea{
 background: inherit;
   border: 3px solid #fff;
    border-radius: 10px;
   color:white;
   padding: 6px;
   margin-top: 6px; 
}

.a{
    text-decoration: none;
    color:var(--color);
    margin-left: 5px;
    font-size: 16px;
}

.rep button{
    font-size: 1em;
    background-color: inherit;
    border:2px solid var(--color);
    color: var(--color);
    border-radius: 5px;
    cursor:pointer;
    transition:color 0.5s,background-color 0.5s;
}

.rep button:hover{
    color:white;
    background-color: var(--color);
}

.a h3{
   border-bottom: solid 1px #8f7810 ;
}

.rep1 .b h4{
    color: white;
}

.f {
    border-radius: 50px;
    margin-left: 50px;
    margin-right: 28%;
}

.d{
    border-radius: 20px;
    margin-right: 30%;
}

.erro p{
    color: white;
}
