
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(9 13 18) ;
}

nav{
    background-color: #000000;
    padding:25px 0% 25px 59%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #8f6c07;
}


h1{
    font-size: 30px;
    font: normal 50px 'Cookie', cursive;
    color: #8f6c07;
}

.box{
    position: absolute;
    top: 50%;
    left:50%;
   
    
}
input{
    position:relative;
    display:inline-block;
    font-size: 20px;
    box-sizing: border-box;
    transition: .5s;
}
input[type="text"]
{
    background:#fff;
    width: 340px;
    height: 40px;
    border:none;
    outline: none;
    padding:0 25px;
    border-radius: 25px 0 0 25px;

}
input[type="submit"]
{
    position:relative;
    border-radius:  0 25px  25px 0 ;
    width: 150px;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #8f6c07;
}
/*  forum  */
.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    
    padding: 5px;
    margin:10px;
    margin-left: 20px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 80% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#e7e9ec;
}

.subforum-description *{
    margin-block: 0;
}
.subforum-description h4 a{
    text-decoration: none;
    color:var(--color);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}


.subforum-devider{
    display: none;   
}
/* For the smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows: 65% 35%;
        
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }

    

  }

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns:60%  20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

  }

/*barre de recherche responsive*/
@media (max-width: 550px)  {
    nav{
        display: flex;
        flex-direction: column;
    }
    input[type="text"]
{
    background:#fff;
    width: 300px;
    height: 30px;
    border-radius: 25px 25px 25px 25px;

}
input[type="submit"]
{
    
    border-radius:  25px 25px  25px 25px ;
    width: 50px;
    height: 40px;
}}