*{
    color: rgb(0, 0, 0);
}

header h1{
    margin-left: 2%;
}

/*posts box*/
.posts{
   
    margin-top: 10px;
    padding: 20px;
    width: 70%;
    margin-left: 15%;  
    border-radius: 9px;
}
.posts h3 a{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-size: 1rem;
    font-weight:lighter;
    font-family:sans-serif;

}
.second-part a{
    text-decoration: none;
    margin:10px;
   font-size: 1.5rem;
   color:rgb(0, 0, 0);
   cursor: pointer;
   margin-left: 0px;
   

}
.second-part a:hover{
    background-color:#8f6c07 ;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}
.second-part p{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight:lighter;
    font-family:sans-serif;
}


    