*{
    color: white;
}
body{
    background-color:rgb(9,13,18) ;
}

.posts{
    border: solid 1px #fff;
    margin-top: 20px;
    padding: 40px;
    border-radius: 9px;
}
.posts h3 a{
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight:lighter;
    font-family: sans-serif;

}
.second-part a{
    text-decoration: none;
    margin: 10px;
    font-size:22px;
    color:grey;
    cursor: pointer;
    margin-left: 0px;

}
.second-part a:hover{
    background-color: #8f6c07;
    color: white;
    border-radius: 10px;

}
.second-part p{
    color: white;
    font-size: 20px;
    font-weight: lighter;
    font-family: sans-serif;
}

/*posts box*/
.posts{
    border: solid 1px #ffffff;
    margin-top: 20px;
    padding: 40px;    
    border-radius: 9px;
}
.posts h3 a{
    text-decoration: none;
    color:white;
    font-size: 22px;
    font-weight:lighter;
    font-family:sans-serif;

}
.second-part a{
    text-decoration: none;
    margin:10px;
   font-size: 22px;
   color:grey;
   cursor: pointer;
   margin-left: 0px;
   

}
.second-part a:hover{
    background-color:#8f6c07 ;
    color: white;
    border-radius: 10px;
}
.second-part p{
    color:white;
    font-size: 20px;
    font-weight:lighter;
    font-family:sans-serif;
}


    