*{
    color: rgb(0, 0, 0);
}

header h4{
    margin-left: 8%;
}

/*posts box*/
.posts{
   
    margin-top: 10px;
    padding: 20px;
    width: 70%;
    margin-left: 15%;  
    border-radius: 9px;
    background-color: rgb(238, 235, 235);
}
.posts h5 a{
    text-decoration: none;
    color:#8f6c07;
    font-size: 1.5rem;
    font-weight:lighter;
    font-family:sans-serif;

}

.second-part a{
    text-decoration: none;
    margin:15px;
   font-size: 1.2rem;
   color:rgb(93, 91, 91);
   cursor: pointer;
   margin-left: 0px;
   

}
.second-part a:hover{
    background-color:#8f6c07 ;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding:5px 5px 5px 5px ;
    border-radius: 5px;
}
.second-part p{
    color:rgb(0, 0, 0);
    font-size: 20px;
    font-weight:lighter;
    font-family:sans-serif;
}


    