.btn {
    margin:10px;
    
    }
    
    .navbar{
    
        background-color: black;
        border-bottom: 3px solid #8f6c07
    }
    
    .nav-link:hover{
        color:#8f6c07;
    }
    .navbar a h1{
        color: #ffffff;
        font: normal 50px 'Cookie', cursive;
    }
    .navbar a h1 span {
        color: #8f6c07;
    }