
.profil .text h3{
    color:rgb(0, 0, 0);
    
    margin-left : 70px;
    margin-bottom: 10px;
    
}
p{
    margin-left: 90px;
    font-size: 1rem;
}

.infos{
    margin-left: 90px;
    
}
.infos h6{
    color:#8f6c07 ;
}
.profil{
    border-bottom: 2px solid rgb(154, 150, 150);
    margin-left: 90px;
    margin-right: 90px;
    margin-bottom: 90px;
}

    
h5{
 margin-left: 70px;
 font-weight: lighter;
    
}
 a button {
    margin-top: 20px;
    margin-left: 90px;
    font-size: 1.5rem;
    font-weight: lighter;
	background-color:#8f6c07;
    border-radius: 10px;
	color: white;
	border: 1px solid #8f6c07;
	transition: background-color 0.5s, color 0.5s;
}
  a button:hover {
	background-color: inherit;
	color:#8f6c07;
}