*{
    color: rgb(0, 0, 0);
}


.profil .text h2{
    color:rgb(0, 0, 0);
    font-weight: lighter;
    margin-left : 70px;
    font-family:cursive;
}
.profil .text h3{
    margin:30px;
}
.profil p,h4{
    color:rgb(0, 0, 0);
    margin-left: 100px;
    font-weight: lighter;
    font-family: cursive;
    
}
.p{
    margin-left: 50px;
}
.profil{
    border-bottom: 3px solid rgb(0, 0, 0);
    margin-left: 50px;
    margin-right: 50px;
}

    
h5{
    color: rgb(186, 154, 10);
    text-decoration: underline;
}