a button {
    margin-top: 20px;
    margin-left: 90px;
    font-size: 1.5rem;
    font-weight: lighter;
	background-color:#8f6c07;
    border-radius: 10px;
	color: white;
	border: 1px solid #8f6c07;
	transition: background-color 0.5s, color 0.5s;
}
  a button:hover {
	background-color: inherit;
	color:#8f6c07;
}